.vs/
src/LongRunningJobImitator.Api/obj/
src/LongRunningJobImitator.Services/obj/
src/obj/Docker/obj/
src/obj/
src/bin/
src/LongRunningJobImitator.Api/bin/
src/LongRunningJobImitator.Services/bin/
src/LongRunningJobImitator.Services.Tests/bin/
src/LongRunningJobImitator.Services.Tests/obj/
