.vs/
LongRunningJobImitator/LongRunningJobImitator.Api/bin/
LongRunningJobImitator/LongRunningJobImitator.Api/obj/
LongRunningJobImitator/obj/
Services/obj/
LongRunningJobImitator/bin/
LongRunningJobImitator.Services/obj/
LongRunningJobImitator.Services/bin/
